{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-1 col-lg-2">

        </div>
        <div class="col-10 col-lg-8 main-column">
            <div class="deals">
                <div class="deals-header d-flex p-3">
                    <h3 class="text-uppercase mb-0">Current Deals</h3>
                    <p class="my-auto ml-4 font-weight-lighter d-none d-md-flex">The latest offers from Parsley's PCs
                    </p>
                    <a href="#" class="deals-link">
                        <p>Explore Deals <i class="fa-solid fa-chevron-right"></i></p>
                    </a>
                </div>
            </div>
            <div class="main-card py-2 px-4">
                <div class="row h-100">
                    <div class="col-6 h-100">
                        <div class="d-flex align-items-center w-100 h-100 text-left">
                            <div class="main-card-text">
                            <h3 class="mb-4">Gaming Desktops</h3>
                            <p>Configure a custom PC that meets your gaming requirements</p>
                            <a href="#" class="btn mt-2">
                                <p class="mb-0">Begin Customising <i class="fa-solid fa-chevron-right"></i></p>
                            </a>
                        </div>
                        </div>
                    </div>
                    <div class="col-6 h-100">
                        <div class="main-card-img">
                            <img src="{% static 'home/media/gaming-pc.webp' %}" alt="Gaming PC">
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="quick-nav row py-2 px-0 mb-0 text-uppercase">

                <div class="col-6 col-lg-3 my-1">
                    <a href="http://127.0.0.1:8000/products/all-products?brand=1" class="btn">
                        <p class="mb-0">Intel Products <i class="fa-solid fa-chevron-right"></i></p>
                    </a>
                </div>
                <div class="col-6 col-lg-3 my-1">
                    <a href="http://127.0.0.1:8000/products/all-products?brand=2" class="btn">
                        <p class="mb-0">AMD Products <i class="fa-solid fa-chevron-right"></i></p>
                    </a>
                </div>
                <div class="col-6 col-lg-3 my-1">
                    <a href="#" class="btn">
                        <p class="mb-0">Customise Your PC <i class="fa-solid fa-chevron-right"></i></p>
                    </a>
                </div>
                <div class="col-6 col-lg-3 my-1">
                    <a href="http://127.0.0.1:8000/products/all-products" class="btn">
                        <p class="mb-0">Browse All Products <i class="fa-solid fa-chevron-right"></i></p>
                    </a>
                </div>
            </div>
            <div class="main-card py-2 px-4">
                <div class="row h-100">
                    <div class="col-6 h-100">
                        <div class="main-card-img">
                            <img src="{% static 'home/media/motherboard.png' %}" alt="Gaming PC">
                        </div>
                    </div>
                    <div class="col-6 h-100">
                        <div class="d-flex align-items-center w-100 h-100 text-right">
                            <div class="main-card-text">
                            <h3 class="mb-4">Want to build it yourself?</h3>
                            <p>Purchase individual components to create your perfect PC, with a personalised feel</p>
                            <a href="http://127.0.0.1:8000/products/all-products" class="btn mt-2">
                                <p class="mb-0">Browse All Products <i class="fa-solid fa-chevron-right"></i></p>
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quick-nav row py-2 px-0 mb-0 text-uppercase">

                <div class="col-6 col-lg-3 my-1">
                    <a href="http://127.0.0.1:8000/products/all-products?category=2" class="btn">
                        <p class="mb-0">View CPUs <i class="fa-solid fa-chevron-right"></i></p>
                    </a>
                </div>
                <div class="col-6 col-lg-3 my-1">
                    <a href="http://127.0.0.1:8000/products/all-products?category=1" class="btn">
                        <p class="mb-0">View Motherboards <i class="fa-solid fa-chevron-right"></i></p>
                    </a>
                </div>
                <div class="col-6 col-lg-3 my-1">
                    <a href="http://127.0.0.1:8000/products/all-products?category=4" class="btn">
                        <p class="mb-0">Graphics Cards <i class="fa-solid fa-chevron-right"></i></p>
                    </a>
                </div>
                <div class="col-6 col-lg-3 my-1">
                    <a href="http://127.0.0.1:8000/products/all-products?category=6" class="btn">
                        <p class="mb-0">View Storage <i class="fa-solid fa-chevron-right"></i></p>
                    </a>
                </div>
            </div>

            <div class="deals">
                <div class="deals-header d-flex p-3">
                    <h3 class="text-uppercase mb-0">Featured Products</h3>
                    
                </div>
            </div>
            <div class="main-card py-2 px-4">
                <div class="row h-100">
                    
                </div>
            </div>
        </div>
        <div class="col-1 col-lg-2">
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{% endblock %}