{% extends "base.html" %}
{% load static %}
{% load currency %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-1 col-lg-2"></div>
        <div class="col-10 col-lg-8 main-column">
            <div class="deals">
                <div class="deals-header d-flex p-3">
                    <h3 class="text-uppercase mb-0">Current Deals</h3>
                    <p class="my-auto ml-4 font-weight-lighter d-none d-md-flex">The latest offers from Parsley's PCs</p>
                    <a href="#" class="deals-link">
                        <p>Explore Deals <i class="fa-solid fa-chevron-right"></i></p>
                    </a>
                </div>
            </div>
            <div class="main-card py-2 px-4">
                <div class="row h-100">
                    <div id="discounted-products-carousel" class="owl-carousel owl-theme">
                        {% for product in discounted_products %}
                        <div class="item">
                            {% include 'products/includes/product_card.html' %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="quick-nav row py-2 px-0 mb-0 text-uppercase">
                <div class="col-6 col-lg-3 my-1">
                    <a href="{% url 'all_products' %}?brand=Intel" class="btn">
                        <p class="mb-0">Intel Products <i class="fa-solid fa-chevron-right"></i></p>
                    </a>
                </div>
                <div class="col-6 col-lg-3 my-1">
                    <a href="{% url 'all_products' %}?brand=AMD" class="btn">
                        <p class="mb-0">AMD Products <i class="fa-solid fa-chevron-right"></i></p>
                    </a>
                </div>
                <div class="col-6 col-lg-3 my-1">
                    <a href="#" class="btn">
                        <p class="mb-0">Customise Your PC <i class="fa-solid fa-chevron-right"></i></p>
                    </a>
                </div>
                <div class="col-6 col-lg-3 my-1">
                    <a href="{% url 'all_products' %}" class="btn">
                        <p class="mb-0">Browse All Products <i class="fa-solid fa-chevron-right"></i></p>
                    </a>
                </div>
            </div>
            <div class="main-card py-2 px-4">
                <div class="row h-100">
                    <div class="col-12 h-100 p-4">
                        <div class="d-flex align-items-center w-100 h-100 text-center">
                            <div class="main-card-text mx-auto">
                                <h3 class="mb-4">Want to build it yourself?</h3>
                                <p>Purchase individual components to create your perfect PC, with a personalised feel</p>
                                <a href="{% url 'all_products' %}" class="btn mt-2">
                                    <p class="mb-0">Browse All Products <i class="fa-solid fa-chevron-right"></i></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quick-nav row py-2 px-0 mb-0 text-uppercase">
                <div class="col-6 col-lg-3 my-1">
                    <a href="{% url 'all_products' %}?category=CPUs" class="btn">
                        <p class="mb-0">CPUs <i class="fa-solid fa-chevron-right"></i></p>
                    </a>
                </div>
                <div class="col-6 col-lg-3 my-1">
                    <a href="{% url 'all_products' %}?category=Cases" class="btn">
                        <p class="mb-0">Cases <i class="fa-solid fa-chevron-right"></i></p>
                    </a>
                </div>
                <div class="col-6 col-lg-3 my-1">
                    <a href="{% url 'all_products' %}?category=GPUs" class="btn">
                        <p class="mb-0">GPUs <i class="fa-solid fa-chevron-right"></i></p>
                    </a>
                </div>
                <div class="col-6 col-lg-3 my-1">
                    <a href="{% url 'all_products' %}?category=Storage" class="btn">
                        <p class="mb-0">Storage <i class="fa-solid fa-chevron-right"></i></p>
                    </a>
                </div>
            </div>

            <div class="deals">
                <div class="deals-header d-flex p-3">
                    <h3 class="text-uppercase mb-0">Featured Products</h3>
                </div>
            </div>
            <div class="main-card py-2 px-4">
                <div class="row h-100">
                    <div id="featured-products-carousel" class="owl-carousel owl-theme">
                        {% for product in featured_products %}
                        <div class="item">
                            {% include 'products/includes/product_card.html' %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1 col-lg-2"></div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
<script src="{% static 'home/js/carousel.js' %}"></script>
{% endblock %}