:root{
    --primary-color: #2B2A40;
    --secondary-color: #435C73;
    --tertiary-color: #618C74;
    --text-color: #FFF;
    --accent-1: #94A69B;
    --accent-2: #6D8C3F;
}

html {
    height: 100%;
}

body {
    background: url('/static/media/background.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #555;
    font-family: 'Oswald';
}

#topbar {
    background-color: black;
    height: 2rem;
    color: var(--text-color);
}

#topbar a {
    color: var(--text-color);
    font-size: 0.8rem;
}

#topbar .dropdown-menu {
    background-color: #000;
}

.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 0.3rem;
}
  
#topbar input {
    width: 100%;
    height: 20px;
    padding-left: 2rem;
    box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
    border: 0;
    border-radius: 8px;
    background-color: var(--primary-color);
    outline: none;
    color: #bdbecb;
    cursor: text;
    z-index: 0;
}
  
.search-icon {
    position: absolute;
    left: 0.5rem;
    pointer-events: none;
    z-index: 1;
}

.dropdown-menu {
    background-color: var(--primary-color);
}

.dropdown-menu a:hover {
    background-color: var(--secondary-color);
}

.navbar {
    background-color: var(--primary-color);
    height: 3.5rem;
    padding: 0;
}

.navbar-toggler {
    padding: .6rem 1rem;
    font-size: 1rem;
    color: var(--text-color);
}

.navbar a {
    color: var(--text-color);
}

.logo-link {
    display: flex;
    text-transform: uppercase;
}

.logo-title {
    padding: 0.5rem;
    font-size: 1.3rem;
}

.logo-image {
    height: 40px;
}

.dropdown-menu a {
    font-size: 0.9rem;
}

.main-page-content {
    margin-top: 5.5rem;
}