{% load static %}

<div class="col-5 text-right navbar-collapse collapse pr-0 text-uppercase" id="main-nav">
    <ul class="navbar-nav w-100 mr-0 justify-content-end">
        <li class="nav-item dropdown">
            <a class="logo-font nav-link mr-1" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font nav-link mr-1" href="#" id="build-your-own-link">
                Build Your Own
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link mr-1" href="#" id="part-checker-link">
                PC Part Checker
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link" href="#" id="contact-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">FAQ's</a>
                <a href="" class="dropdown-item">Terms & Conditions</a>
                <a href="" class="dropdown-item">About Us</a>
                <a href="" class="dropdown-item">Contact Us</a>
            </div>
        </li>
    </ul>
</div>