{% load static %}

<footer class="page-footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 text-center footer-header">
                <a href="{% url 'home' %}" class="nav-link logo-link pl-0">
                    <img class="logo-image " src="{% static 'media/logo-square.png' %}" alt="">
                    <h2 class="logo-title my-0 ml-2">
                        <strong> Parsley's</strong> PCs
                    </h2>
                    
                </a>
                <!-- <hr class="my-1"> -->
                <p>From Gaming PC's to general office computers, Parsley's PCs has everything you need for a reliable system.</p>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <ul class="navbar-nav">
                    <li><h3>Policies</h3></li>
                    <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                    <li><a href="{% url 'terms_and_conditions' %}">Terms and Conditions</a></li>
                    <li><a href="{% url 'faqs' %}">FAQs</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <ul class="navbar-nav">
                    <li><h3>Quick Links</h3></li>
                    <li><a href="{% url 'all_products' %}">Browse All Products</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <ul class="navbar-nav">
                    <li><h3>Socials</h3></li>
                    <li><a href="https://www.facebook.com" target="_blank"> <i class="fa-brands fa-facebook"></i> Facebook</a></li>
                    <li><a href="https://www.x.com" target="_blank"><i class="fa-brands fa-x-twitter"></i> X/Twitter</a></li>
                    <li><a href="https://www.instagram.com" target="_blank"> <i class="fa-brands fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center mt-4 mb-0 py-2">
        Parsley's PCs 2024
    </div>
</footer>