{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/8158dd2cea.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Parsley's PCs {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top">
        <div class="row d-lg-flex" id="topbar">
            <div class="d-none d-lg-flex col-1 col-lg-2">
            
            </div>
            <div class="col-6 col-lg-2 pl-lg-0 pl-2 text-left">
                <div class="dropdown">
                    <a href="#" role="button" id="currencyDropDown" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa-solid fa-sterling-sign"></i> GBP <i class="fa-solid fa-chevron-down"></i>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="currencyDropDown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="col-4 d-none d-lg-flex">
                <form method="GET" class="w-100" action="">
                    <div class="search-bar w-100">
                        <i class="fa-solid fa-magnifying-glass search-icon"></i>

                        <input id="query" class="input w-100" type="search" placeholder="Search for products..."
                            name="searchbar" />
                    </div>
                </form>
            </div>
            <div class="col-6 col-lg-2 pr-lg-0 pr-2 text-right">

                <a href="#" role="button" id="accountDropDown" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fa-solid fa-user"></i> My Account
                </a>

                <div class="dropdown-menu" aria-labelledby="accountDropDown">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <a href="" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>


                <a href="#" class="ml-4" role="button">
                    <i class="fa-solid fa-cart-shopping"></i>
                    {% if grand_total %}
                    £{{ grand_total|floatformat:2 }}
                    {% else %}
                    £0.00
                    {% endif %}
                </a>

            </div>
            <div class="d-none d-lg-flex col-1 col-lg-2">
            
            </div>

        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg w-100">
                <div class="d-none d-lg-flex col-1 col-lg-2">
            
                </div>
                <div class="col-8 col-lg-3 pl-lg-0 pl-2">
                    <a href="{% url 'home' %}" class="nav-link logo-link pl-0">
                        <img class="logo-image " src="{% static 'media/logo-square.png' %}" alt="">
                        <h2 class="logo-title my-0 ml-2">
                            <strong> Parsley's</strong> PCs
                        </h2>
                    </a>
                </div>
                <button class="navbar-toggler" type="button" >
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
                {% include 'includes/main-nav.html' %}
                <div class="d-none d-lg-flex col-1 col-lg-2">
            
                </div>
            </nav>
        </div>
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}
    <div class="main-page-content">
        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>

    {% include 'includes/page-footer.html' %}

    {% block postloadjs %}
    {% endblock %}


</body>

</html>