input,
select {
  width: 100%;
  height: 44px;
  background-color: #e4e4e4;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  /* font-weight: bold; */
  color: black;
  transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

input:hover,
input:focus,
input-group:hover input {
  outline: none;
  border-color: #05060f;
}

input-group:hover label,
input:focus {
  color: #05060fc2;
}

h1 {
  color: black;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.main-page-content {
    background-color: rgb(241, 241, 241);
    padding: 1rem;
}

.card {
  height: 340px; /* Adjusted height as needed */
  padding: 0.8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.cart-item-image {
    height: 64px;
    width: 64px;
}